{% extends 'base.html' %}

{% block title %} Помощь по корпусу {% endblock %}
{% set active = 'help' %}

{% block content %}
      <p>
        На данный момент Habrora поддерживает шесть режимов поиска:
      </p>
      <ol>
        <li>
          <b> Поиск по лексеме: </b> для поиска предложений со всеми словоформами по лексеме введите слово без кавычек
          <ul>
            <li> <code> программа </code> - поиск выдаст предложения, в которых есть словоформы "программа", "программы", "программой" и тп </li>
            <li> <code> программе </code> - выдаст те же самые предложения (поиск осуществляется по лемме) </li>
          </ul>
        </li>
        <li>
          <b> Поиск по словоформе: </b> для поиска предложений с конкретной словоформой введите слово в "двойных" кавычках
          <ul>
            <li> <code> "программе" </code> - поиск выдаст предложения, в которых употреблена словоформа "программе" </li>
            <li> <code> "спарсили" </code> - выдаст предложения с употреблением словоформы "спарсили" </li>
          </ul>
        </li>
        <li>
          <b> Поиск по части речи: </b> для поиска предложений с употреблением слов заданной части речи введите частеречный тег в формате Universal Dependencies из списка:
          <ul>
            <li> <code> ADJ </code> - прилагательное; </li>
            <li> <code> ADP </code> - предлог; </li>
            <li> <code> ADV </code> - наречие; </li>
            <li> <code> AUX </code> - вспомогательный глагол (формы глагола "быть"); </li>
            <li> <code> CCONJ </code> - сочинительный союз; </li>
            <li> <code> DET </code> - определительное местоимение ("этот", "тот" и тп); </li>
            <li> <code> INTJ </code> - междометие; </li>
            <li> <code> NOUN </code> - существительное; </li>
            <li> <code> NUM </code> - числительное (без цифровой записи); </li>
            <li> <code> PART </code> - частица; </li>
            <li> <code> PRON </code> - местоимение (кроме детерминативов); </li>
            <li> <code> PROPN </code> - имя собственное; </li>
            <li> <code> SCONJ </code> - подчинительный союз; </li>
            <li> <code> VERB </code> - глагол </li>
          </ul>
        </li>
        <li>
          <b> Поиск по синтаксической функции: </b> для поиска предложений с употреблением слов в заданной синтаксической функции введите тег в формате Universal Dependencies из списка:
          <ul>
            <li> <code> acl </code> - клаузальный модификатор имени, напр. причастие (нефинитная клауза); </li>
            <li> <code> acl:relcl </code> - относительная клауза; </li>
            <li> <code> advcl </code> - адвербиальный модификатор клаузы (глагол-сказуемое обстоятельственного придаточного предложения); </li>
            <li> <code> advmod </code> - адвербиальный модификатор ((неклаузальное) наречие или наречная группа); </li>
            <li> <code> amod </code> - адъективный модификатор имени (прилагательное/порядковое числительное) (за исключением местоименных, которые размечаются как det); </li>
            <li> <code> appos </code> - аппозитив (приложение); </li>
            <li> <code> aux </code> - форма вспомогательного глагола "быть" в составе перифрастической конструкции будущего времени или сослагательного наклонения; </li>
            <li> <code> aux:pass </code> - форма вспомогательного глагола "быть" в составе перифрастической конструкции пассивного залога; </li>
            <li> <code> case </code> - предлог (зависимое имени), а также подчинительный союз "как" в сравнительной конструкции; </li>
            <li> <code> cc </code> - сочинительный союз; </li>
            <li> <code> ccomp </code> - клаузальный комплемент (зависимая клауза — основной (обычно второй) аргумент предиката; клаузальный аналог объекта глагола или объекта прилагательного или предикатива), может быть выражен личным глаголом, предикативом или именным предикатом; </li>
            <li> <code> conj </code> - сочинённый элемент (вершина-первый (самый левый) элемент, к которому присоединяются другие элементы группы (справа)); </li>
            <li> <code> cop </code> - копула (связка "быть", зависимое именной части сказуемого); </li>
            <li> <code> csubj </code> - клаузальное (инфинитивное) подлежащее; </li>
            <li> <code> det </code> - местоименный адъективный модификатор имени (притяжательное/указательное/вопросительное/относительное/неопределённое/определительное местоимение); </li>
            <li> <code> discourse </code> - дискурсивная частица или междометие; </li>
            <li> <code> expl </code> - эксплетив (эксплетивный маркер "это", например, "Это Ваня пришёл"); </li>
            <li> <code> fixed </code> - второй и каждый последующий элемент неоднословного оборота (составного предлога/наречного оборота/местоимений "друг друга", "сам себя" и других неоднословных лексических единиц); </li>
            <li> <code> flat </code> - "плоское" отношение, напр. в датах ("ноября" в "второе ноября"); </li>
            <li> <code> flat:name </code> - второй и каждый последующий элемент неоднословного именования лица, например, "Арсеновича" в "Арсена Арсеновича"; </li>
            <li> <code> iobj </code> - дативно-инструментальное дополнение; </li>
            <li> <code> list </code> - "плоское" отношение в списках и других структурированных текстах, напр. "красота" в "скорость: так себе, красота: хорошо"; </li>
            <li> <code> mark </code> - подчинительный союз; </li>
            <li> <code> nmod </code> - (собственно) именной модификатор; </li>
            <li> <code> nsubj </code> - подлежащее; </li>
            <li> <code> nsubj:pass </code> - подлежащее пассива; </li>
            <li> <code> nummod </code> - количественный модификатор; </li>
            <li> <code> nummod:gov </code> - количественный модификатор, управляющий падежом имени; </li>
            <li> <code> obj </code> - второй именной аргумент предиката, обычно объектный; </li>
            <li> <code> obl </code> - косвенное дополнение/обстоятельство; </li>
            <li> <code> obl:agent </code> - агентивное косвенное дополнение; </li>
            <li> <code> parataxis </code> - второй элемент паратаксиса (паратаксис — отношение между словом и другими элементами, такими как пояснение в скобках или бессоюзная клауза, следующая после двоеточия или точки с запятой, без какой-либо явной координации, подчинения или аргументной связи с главным словом); </li>
            <li> <code> root </code> - вершина предложения (сказуемое); </li>
            <li> <code> vocative </code> - обращение; </li>
            <li> <code> xcomp </code> - инфинитивный комплемент или дополнение вторичной предикации, выраженное именем в творительном падеже </li>
          </ul>
        </li>
        <li>
          <b> Поиск по лексеме с заданной частью речи ИЛИ синтаксической функцией: </b> для поиска предложений с употреблением всех словоформ, соответствующих лексеме с заданной частью речи или синтаксической функцией, введите запрос в формате <code> лемма+POS-тег / deprel-тег </code>
          <ul>
            <li>
              <code> уж+ADV </code> - поиск выдаст все предложения, в которых "уж" употреблено как наречие
            </li>
            <li>
              <code> уж+PART </code> - выдаст все предложения, в которых "уж" употреблено как усилительная частица
            </li>
            <li>
              <code> уж+NOUN </code> - выдаст все предложения, в которых "уж" употреблено как имя существительное
            </li>
            <li>
              <code> уж+nsubj </code> - выдаст все предложения, в которых "уж" употреблено как подлежащее
            </li>
          </ul>
        <p>
          <b> Важно! </b> Необходимо вводить начальную форму слова. Запрос <code> чашкой+NOUN </code> не даст результатов
        </li>
        <li>
          <b> Поиск по лексеме с заданными частью речи И синтаксической функцией: </b> для поиска предложений с употреблением всех словоформ, соответствующих лексеме с заданными частью речи и синтаксической функцией, введите запрос в формате <code> лемма+POS-тег+deprel-тег</code>
          <ul>
            <li>
              <code> уж+NOUN+nsubj</code> - поиск выдаст все предложения, в которых "уж" употреблено как существительное в роли подлежащего
            </li>
            <li>
              <code> Маш+PROPN+vocative</code> - выдаст все предложения, в которых "Маш" употреблено как vocative
            </li>
          </ul>
          <b> Важно! </b> Необходимо вводить сначала POS-, а затем - deprel-тег. Запрос <code> уж+nsubj+NOUN </code> выдаст ошибку
        </li>
      </ol>
        В корпусе также доступен поиск n-грамм длины 1-3 (!). Для этого нужно ввести несколько токенов через пробел, каждый токен может задаваться любым из способов выше. Например, для поиска "глагол в любой форме + быстро" можно написать <code>VERB быстро</code> ("спарсил быстро", "сдадутся быстро" и тп). Или <code> программа+CCONJ DET</code>, <code> иметь в виду </code>
{% endblock %}