{% extends 'base.html' %}
{% set active = 'index' %}

{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="font-weight-bold">Habr corpora (habrora)</h2>
            <p>
              Habrora - это лемматизированный корпус с морфологической и синтаксической разметками, созданный на основе 200 статей, собранных с популярного сайта Habr, посвященного технологиям и IT.
            </p>
            <p>
              Ресурс обеспечивает удобный доступ к различным режимам поиска, позволяя пользователям легко находить нужную информацию. Для более подробного ознакомления с возможностями и функционалом систем вы можете обратиться к вкладке "Помощь" на сайте или посетить репозиторий проекта, где представлена дополнительная документация и инструкции. Habrora станет ценным инструментом как для исследователей, так и для практиков, интересующихся анализом текстов и NLP!
            </p>
              <a href="https://github.com/dduend/habr-corpora" class="text-muted text-center">Репозиторий на GitHub</a>
            <p></p>
            <p>
              Исследуйте тексты, используя поисковую строку ниже! 🔍
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <form role="form" action="/results" method="GET" class="d-flex justify-content-center">
              <input name="query" id="query" class="form-control me-2 border-light" type="search" placeholder="VERB сайт"/>
              <input class="btn btn-outline-danger" type="submit" value="найти" />
            </form>
          </div>
        </div>
      </div>
{% endblock %}